<%= form_for [:admin, @order], url: admin_order_review_path(@order) do |f| %>
  <table class="table table-striped">
    <tr>
      <th>Image</th>
      <th>Link</th>
      <th>Title</th>
      <th>Instructions</th>
      <th>Unit cost</th>
      <th>Weight</th>
      <th>International Shipping</th>
      <th>US Shipping and taxes</th>
      <th>Lynks Fees</th>
      <th>Taxes and customs</th>
    </tr>
      <%= f.fields_for :order_items do |item_form| %>
        <% item = item_form.object %>
        <tr>
          <td><img src="<%= item.image_url %>" width="100px"></td>
          <td><%= link_to 'Link', item.supplier_url %></td>
          <td><%= item.title %></td>
          <td><%= item.instructions %></td>
          <td>
            <%= item_form.text_field :unit_cost, style: 'width:90px' %>
          </td>
          <td>
            <%= item_form.text_field :item_weight, style: 'width:90px' %>
          </td>
          <td>
            <%= item_form.text_field :international_shipping, style: 'width:90px' %>
          </td>
          <td>
            <%= item_form.text_field :us_shipping_and_taxes, style: 'width:90px' %>
          </td>
          <td>
            <%= item_form.text_field :lynks_fees, style: 'width:90px' %>
          </td>
          <td>
            <%= item_form.text_field :taxes_and_customs, style: 'width:90px' %>
          </td>
        </tr>
      <% end %>
  </table>
<%= f.hidden_field :status, value: 'reviewed' %>
<%= f.submit "Review", class: 'btn btn-primary' %>
<% end %>
