<%= content_for :css do %>
  <link href="/css/form.css" rel="stylesheet">
<% end %>
<%= form_for @order, url: order_checkout_path(@order) do |f| %>
  <section class="checkout2_area">
    <div class="container">
      <div class="page_headding">
        <h1>CHECKOUT</h1>
        <p>Your order will be confirmed & And Cash will be collected at your doorstep during the next 24 hours</p>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="checkout2_left">
            <% @order.order_items.each do |item| %>
              <div class="checkout2_left_item">
                <div class="checkout2_left_item_pic">
                  <img src="<%= item.image_url %>" alt="img"/>
                </div>
                <div class="checkout2_left_item_header">
                  <div class="row">
                    <div class="col-xs-8">
                      <h5><%= item.title %></h5>
                    </div>
                    <div class="col-xs-4">
                      <ul>
                        <li>
                          <%= link_to '#', method: :delete do %>
                            <i class="fa fa-times-circle"></i>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="checkout2_table">
                  <table border="0" cellspacing="0" cellpadding="0" align="center">

                    <tr>
                      <td>
                        <div class="checkout2_table_headding">
                          Store Price
                        </div>
                        <div class="checkout2_table_content">
                          $ 23.99
                        </div>
                      </td>
                      <td>
                        <div class="checkout2_table_headding">
                          Quantity
                        </div>
                        <div class="checkout2_table_quantity">
                          <div class="input-group">
                            <%= item.quantity %>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="checkout2_table_headding">
                          Unit Cost
                        </div>
                        <div class="checkout2_table_content">
                          <%= number_to_currency(item.unit_cost) %>
                        </div>
                      </td>
                      <td>
                        <div class="checkout2_table_headding">
                          International Shipping
                        </div>
                        <div class="checkout2_table_content">
                          <%= number_to_currency(item.international_shipping) %>
                        </div>
                      </td>
                      <td>
                        <div class="checkout2_table_headding">
                          Lynks Fees
                        </div>
                        <div class="checkout2_table_content">
                          <%= number_to_currency(item.lynks_fees) %>
                        </div>
                      </td>
                      <td>
                        <div class="checkout2_table_headding">
                          Taxes and Customs
                        </div>
                        <div class="checkout2_table_content">
                          <%= number_to_currency(item.taxes_and_customs) %>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            <% end %>

            <div class="checkout2_left_item_calculate">
              <div class="checkout2_calculate_main">
                <% if @order.coupon_discount %>
                  <div class="row">
                    <div class="col-xs-6">
                      <h5>Subtotal</h5>
                    </div>
                    <div class="col-xs-6">
                      <div class="checkout2_calculate_right">
                        <h5><%= number_to_currency(@order.total_price) %></h5>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <h5>Coupon Discount: </h5>
                    </div>
                    <div class="col-xs-6">
                      <div class="checkout2_calculate_right">
                        <h5><%= number_to_currency(- @order.coupon_discount) %></h5>
                      </div>
                    </div>
                  </div>
                <% end %>
                <div class="row">
                  <div class="col-xs-6">
                    <h4>Total Price:</h4>
                  </div>
                  <div class="col-xs-6">
                    <div class="checkout2_calculate_right">
                      <h4><%= number_to_currency(@order.total_price_with_discounts) %></h4>
                      <h5>(<%= conversion(@order.total_price_with_discounts) %>)</h5>
                      <p>Final Price</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="checkout2_right">

            <div class="checkout2_right_form">
              <form>
                <div class="checkout2_right_form_headding">
                  <h4>
                    Shipping Info
                  </h4>
                </div>
                <div class="input input_bejeeb">
                  <%= f.text_field :shipping_full_name, class: 'input__field input__field_bejeeb', id: 'input-1' %>
                  <label class="input__label input__label_bejeeb" for="input-1">
                    <span class="input__label-content input__label-content_bejeeb">Full Name (adress recipient)</span>
                  </label>
                </div>
                <div class="input input_bejeeb">
                  <%= f.text_field :shipping_address_line1, class: 'input__field input__field_bejeeb', id: 'input-2' %>
                  <label class="input__label input__label_bejeeb" for="input-2">
                    <span class="input__label-content input__label-content_bejeeb">Shipping Address Line 1</span>
                  </label>
                </div>
                <div class="input input_bejeeb">
                  <%= f.text_field :shipping_address_line2, class: 'input__field input__field_bejeeb', id: 'input-3' %>
                  <label class="input__label input__label_bejeeb" for="input-3">
                    <span class="input__label-content input__label-content_bejeeb">Shipping Address Line 2</span>
                  </label>
                </div>
                <div class="input input_bejeeb">
                  <%= f.select :shipping_city, City.all, class: 'form-control', prompt: 'Select city' %>
                </div>
                <div class="input input_bejeeb">
                  <input class="input__field input__field_bejeeb" type="text" id="input-6">
                  <label class="input__label input__label_bejeeb" for="input-6">
                    <span class="input__label-content input__label-content_bejeeb">Phone Number</span>
                  </label>
                </div>
                <div class="checkout_right_form_field">
                  <div class="checkout_form_controll">
                    <%= f.text_field :coupon_code_to_apply, placeholder: 'Discount Coupon' %>
                    <button formaction="<%= order_apply_coupon_path(@order) %>" type="submit">Apply</button>
                  </div>
                </div>
                <div class="checkout2_right_form_headding">
                  <h4>
                    Payment Method
                  </h4>
                </div>
                <div class="checkout_right_form_top">
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="checkout_checkbox">
                        <div class="checkout_pic">
                          <img src="/images/img-16.png" alt="img">
                        </div>
                        <h5>By collection at my door</h5>
                        <a href="#">How it works?</a>
                        <input type="radio" name="radio" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-xs-12" style="display:none">
                      <label class="checkout_checkbox">
                        <div class="checkout_pic">
                          <img src="images/img-17.png" alt="img">
                        </div>
                        <h5>By credit card</h5>
                        <a href="#">How it works?</a>
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="checkout2_form_btn">
                  <button type="submit">Checkout</button>
                </div>
              </form>
            </div>	
          </div>

        </div>
      </div>
    </div>
  </section>
<% end %>
