<section class="order_page_area">
  <div class="container">
    <div class="page_headding">
      <h1>MY ORDERS</h1>
    </div>
    <div class="order_area">
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr class="order_table_header">
          <td>
            Order Id 
          </td>
          <td>
            Date & Time
          </td>
          <td>
            Total
          </td>
          <td>
            Status
          </td>
          <td>

          </td>
        </tr>
        <% @orders.each do |order| %>

        <tr class="order_table_list">
          <td class="order_id">
            <a href="#"># <%= order.id %></a>
          </td>
          <td class="order_d_time">
            <%= order.created_at.strftime('%d %B at %l:%M %p') %>
          </td>
          <td class="order_total">
            <% if order.total_price %>
              <%= number_to_currency_with_conversion(order.total_price) %>
            <% end %>
          </td>
          <% status_classes = { delivered: 'order_st_compleate', cancelled: 'order_st_cancelled', pending: 'order_st_process' } %>
          <td class="<%= status_classes.fetch(order.status){ 'default' } %>">
            <i><img src="<%= order_status_image_path(order.status) %>" width="30px"/></i><%= order.status.capitalize %>
          </td>
          <td class="order_details">
            <%= button_to order, method: :get do %>
              Check Details
            <% end %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</section>

